# Ignore node_modules directory
node_modules/

# Ignore environment variable files
.env

# Ignore log files
logs/
*.log

# Ignore cache and build directories
.cache/
dist/
build/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE and editor configuration files
.idea/
.vscode/
